In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

data = pd.read_csv("rawData.csv")
count = 0
data["price"] = data["price"].replace("Thỏa thuận", "-1")
data["price"] = data["price"].astype(float)

for i in range(len(data)):
    if data["price"][i] > 10 or data["price"][i] < 0:
        data = data.drop(i)
    
data.to_csv("/home/binbin/University/semester2_2122/Data_Science/Crawl_Real_Estate/rawData_1.csv")
print(data)

                                                  title  \
0     Căn hộ nghỉ dưỡng ngay trung tâm hà nội chỉ 1 ...
1     Căn 2 pn full nội thất view hồ 10ha. công viên...
2     Duy nhất căn 2 ngủ tầng đẹp giá 1 tỷ 779triệu,...
3     Nhận nhà ở ngay không lo trả lãi tại teccodiam...
4     Chính chủ bán căn hộ chung cư citadines centra...
...                                                 ...
2672  Mở bán căn hộ tttp.thuận an, giá 896 triêu/căn...
2673  48m2 bàn giao 1pn có thể tự ngăn thành 2pn, ch...
2674  Sắp mở bán dự án căn hộ thuận an - giá gốc đầu...
2675  Căn hộ độc tôn ngay tp.thuận an cạnh aeon mall...
2676  Vista riverside sắp nhận nhà. ban công view tr...

                                                address   area  price  \
0     Vinhomes Smart City, Phường Trung Văn, Quận Na...   30.0  1.250
1     Vinhomes Smart City, Phường Cầu Diễn, Quận Nam...   55.0  2.100
2     Tecco Diamond, Xã Tứ Hiệp, Huyện Thanh Trì, Hà...   65.0  1.700
3     Tecco Diamond, Thị Trấn Văn Điển, Huyện Thanh ...   69.0  1.930
4     Citadines Bình Dương, Phường An Thạnh, Thị Xã ...  114.0  3.050
...                                                 ...    ...    ...
2672        Legacy Central, Thị Xã Thuận An, Bình Dương   42.0  0.896
2673  Căn hộ Vista Riverside, Thị Xã Thuận An, Bình ...   48.0  1.200
2674        Legacy Central, Thị Xã Thuận An, Bình Dương   33.0  0.800
2675        Legacy Central, Thị Xã Thuận An, Bình Dương   32.0  0.800
2676  Căn hộ Vista Riverside, Thị Xã Thuận An, Bình ...   43.0  0.965

      number_bedroom  number_wc  number_floor direction  entrance  facade  \
0                1.0        1.0          27.0  Đông bắc      30.0    30.0
1                2.0        1.0          20.0  Đông bắc      50.0     5.0
2                2.0        2.0           NaN       NaN       NaN     NaN
3                2.0        2.0           NaN       NaN       NaN     NaN
4                3.0        2.0          16.0       NaN      50.0     NaN
...              ...        ...           ...       ...       ...     ...
2672             1.0        1.0           NaN       NaN       NaN     NaN
2673             1.0        1.0          10.0       NaN       NaN     NaN
2674             1.0        1.0           NaN       NaN       NaN     NaN
2675             1.0        1.0           NaN       NaN       NaN     NaN
2676             1.0        1.0           NaN       NaN       NaN     NaN

      number_parking  id_estate
0                3.0    3947348
1                3.0    3947371
2                1.0    3946737
3                1.0    3946177
4                NaN    3944714
...              ...        ...
2672             NaN    3931551
2673             NaN    3931239
2674             NaN    3932155
2675             NaN    3918708
2676             NaN    3876132

[2518 rows x 12 columns]